<div class="card-item col">
  {%- if member.redirect -%}
  <a href="{{ member.redirect }}">
  {%- else -%}
  <a href="{{ member.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if member.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=member.img alt="member thumbnail" %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title">{{ member.name }}</h3>
            <div class="row ml-1 mr-1 p-0">
              {%- if member.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ member.github }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if member.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ member.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
