---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
          {% if page.img -%}
          <div class="profile float-right">
               {%- assign profile_image_path = page.img -%}
               {%- assign profile_image_class = "img-fluid  rounded" -%}
  
                {% include figure.html
                path=profile_image_path
                class=profile_image_class
                alt=page.profile.image -%}
            </div>
            {%- endif %}

            {{ content }}
          </article>

        </div>
